.img1{
    width: 420px;
height: 905px;
}

.img2 {
    width: 860px;
height: 382px;
}

.img3 {
    width: 420px;
height: 503px;
}

.img4 {
    width: 420px;
height: 503px;
}
 

h1{
    top: 700px;
    left: 310px;
    width: 404px;
    height: 48px;
    text-align: left;
    font: normal normal bold 40px/49px Arial;
    letter-spacing: -0.8px;
    color: black;
    opacity: 1;
    display: block;
            margin-left: 400px;
            margin-right: auto

}
