<div><div class="divv">
<h2 class="message">Messagerie</h2>
<img class="imgrima" src="/assets/img/rima.png">
<img class="imgtaha" src="/assets/img/taha.png">
<img class="imgmalek" src="/assets/img/malek.png">
<h3 class="rima">Rima Jemaiel</h3>
<div class="divtaha"></div>
<div class="divmalek"></div>
<h3 class="malek">Malek Belayeb</h3>
<h4 class="txtmalek">Bravo ... </h4>
<h4 class="txtrima">Bonjour c'est une bon formation</h4>
<div class="divrima">
</div>   
   
<h3 class="taha">Taha Chaouch</h3>
<h4 class="txttaha">Merci beaucoup</h4>


</div>


<div class="divh"> 
<h2 class="nom">MED ARBI</h2>
</div>
<button mat-button >Envoyer</button>
<input type="text" >
</div>
