.gris{
    top: 1888px;
left: 0px;

height: 257px;
background: var(--unnamed-color-cccccc) 0% 0% no-repeat padding-box;
background: #CCCCCC 0% 0% no-repeat padding-box;
opacity: 0.4;
}


.noir {
    top: 2140px;
left: 0px;

height: 805px;
background: #000000 0% 0% no-repeat padding-box;
opacity: 1;
}

.gris{
    top: 1888px;
    left: 0px;

    height: 257px;
    background: #CCCCCC 0% 0% no-repeat padding-box;
opacity: 1;
}

.orange{
    top: 2945px;
left: 0px;
height: 328px;
background: var(--unnamed-color-ff7900) 0% 0% no-repeat padding-box;
background: #FF7900 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
}

.ngb-carousel {
    top: 3035px;
left: 574px;

height: 86px;
text-align: left;
font: normal normal normal 24px/29px Helvetica Neue;
letter-spacing: -0.48px;
color: #000000;
opacity: 1;
}
