<div class="container1" style="width: 100%;">

  <h1 style="width: 100%;">Les cours de Skillspace</h1>

</div>


<div class="container">

  <div>
    <span>
      <a>
        <h1></h1>
      </a>
      <a><button routerLink="/formation" mat-flat-button disabled></button></a>
    </span>

  </div>

  <mat-grid-list cols="3" >

    <mat-grid-tile (click)="moveToFormationDetail(item)" *ngFor="let item of cours | paginate: config | slice:0:100  ">
      <mat-card class="example-card" style="margin-top: 10px; margin-inline: 5px;align-items: center;margin-block-end: 20mm;border-color: black;">

        <img mat-card-image style="width:300px;height:290px;align-items: center;margin-inline: 10px;"
         src="http://127.0.0.1:5006/getImageByName/img/{{ item.images }}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p style="font-size:13pt;">
            {{ item.course_name }}
          </p>
          <ngb-rating style="font-size:13pt;font-weight: bold;" [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>

        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


  <div style="text-align: center;margin-top: 50px;size: 50px;">
    <pagination-controls class="ngx-pagination" (pageChange)="pageChanged($event)" previousLabel="Précédent"
      nextLabel="Suivant"></pagination-controls>

  </div>

</div>