<div>    <h1 class="compte">Mot de passe</h1>
       <h2 class="esm">Saisissez votre mot de passe actuel</h2>
       <input type="text" class="inom">
       
       <h2 class="prenom">Saisissez votre nouveau mot de passe</h2>
       <input type="text" class="iprenom">
       
       <h2 class="adrmail">Retapez votre nouveau mot de passe</h2>
       <input type="text" class="iadrmail">
       


       <button  mat-button class="save" >Sauvegarder</button>
    </div> 

 

 

<div class="eco">
    <img src="/assets/img/aarbi@2x.png" alt="Med Arbi" class="imgdiv">
    <h3 class="tt">MED ARBI</h3>
    <h3 class="meet">Développeur web</h3>
    <button mat-button class="ccoo"  routerLink="/">Compte</button>
    <button mat-button class="mot"  routerLink="/">Mot de passe </button>
    <button mat-button class="notff"  routerLink="/">Notification par E-mail</button>

</div>
