div {
    top: 10px;
left: 0px;
width: 2000px;
height: 600px;
background: white 0% 0% no-repeat padding-box;
opacity: 1;
}

.compte{
    position: absolute;
    left: 400px;
    top: 200px;
      font: bold 40px/50px Arial;
      color: black;

   }


.esm {
    position: absolute;
    left: 400px;
    top: 300px;
   }

   .inom {
    position: absolute;
    left: 400px;
    top: 350px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;
}

   .prenom {
    position: absolute;
    left: 400px;
    top: 400px;
   }

   .iprenom {
    position: absolute;
    left: 400px;
    top: 450px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;

}

.adrmail{
    position: absolute;
    left: 400px;
    top: 500px;

}
.iadrmail{

    position: absolute;
    left: 400px;
    top: 550px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;

}

.save {
    position: absolute;
    left: 400px;
    top: 650px;
    width: 136px;
height: 38px;
background: var(--unnamed-color-ff7900) 0% 0% no-repeat padding-box;
background: #FF7900 0% 0% no-repeat padding-box;
opacity: 1;


text-align: center;
font: normal normal bold 16px/18px Arial;
letter-spacing: -0.11px;
color: #000000;
opacity: 1;
}





























.eco {
    width: 342px;
height: 328px;
background: #cccbcb 0% 0% no-repeat padding-box;

position: absolute;
    left: 1200px;
    top: 250px;
}


.imgdiv {
    width: 60px;
height: 60px;
position: absolute;
    left: 20px;
    top: 20px;

}


.tt {
    width: 182px;
    height: 20px;
    position: absolute;
    left: 100px;
    top: 30px;
font: bold 25px/10px Arial;
letter-spacing: -0.4px;
color: #000000;
text-transform: uppercase;
opacity: 1;
}

.meet {
    width: 182px;
    height: 20px;
    position: absolute;
    left: 100px;
    top: 60px;
    text-align: left;
font: normal 15px/10px Arial;
letter-spacing: -0.4px;
color: #000000;
text-transform: uppercase;
opacity: 1;
}


.ccoo{
    left: 20px;
    top: 120px;
    width: 308px;
height: 37px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;


font: normal normal bold 16px/23px Arial;
letter-spacing: -0.11px;
color: #000000;
opacity: 1;
}


.mot {
    left: 20px;
    top: 140px;
    width: 308px;
height: 37px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;


font: normal normal bold 16px/23px Arial;
letter-spacing: -0.11px;
color: #000000;
opacity: 1;
}

.notff{
    left: 20px;
    top: 160px;
    width: 308px;
height: 37px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;



font: normal normal bold 16px/23px Arial;
letter-spacing: -0.11px;
color: #000000;
opacity: 1;
}