
<mat-grid-list cols="3" >
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="assets/img/blender_render-1280x720@2x.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Blender pour les débutants
              </p>
              

            </mat-card-content>
          
          </mat-card>

       
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="assets/img/Python.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                La Formation Complète Python
              </p>
             
            </mat-card-content>
          
          </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="assets/img/seo-javascript-the-good-the-bad-the-uncertainty-5e4a09b3cd5db@2x.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Introduction à la photographie d’intérieur
              </p>
            
            </mat-card-content>
          
          </mat-card>
    </mat-grid-tile>
