.container1{
    top: 100px;
left: 0px;
width: 1920px;
height: 330px;
background: #000000 0% 0% no-repeat padding-box;
opacity: 1;
}
.imgprof {
    position: absolute;
    left: 500px;
    top: 180px;
    width: 166px;
    height: 166px;

}


h1 {
    position: absolute;
  left: 700px;
  top: 180px;
    font: bold 40px/50px Arial;
    color: #ff7900;
}

h3{
    position: absolute;
    left: 700px;
    top: 250px;
      font: normal 20px/30px Arial;
      color: white;
}

.Message {
    width: 300px;
height: 40px;
    position: absolute;
    left: 700px;
    top: 300px;
      font: normal normal bold 16px/18px Arial;
      background-color: white;
      color: black;
}


.modif {
    width: 200px;
    height: 40px;
        position: absolute;
        left: 700px;
        top: 350px;
          font: normal normal bold 16px/18px Arial;
          background-color: white;
          color: black;
    }



    .linkedin {
        position: absolute;
        left: 1500px;
        top: 250px;
        width: 30px;
    height: 30px;
    }
    
    
    .youtube {
        position: absolute;
        left: 1500px;
        top: 300px;
        width: 30px;
    height: 30px;
    }
    




   .compte{
    position: absolute;
    left: 500px;
    top: 500px;
      font: bold 40px/50px Arial;
      color: black;

   }

   .txt {
    position: absolute;
    left: 500px;
    top: 600px;
      font: bold 40px/50px Arial;
      color: black;
   }





























div {
    top: 500px;
left: 0px;
width: 10000px;
height: 1000px;
background: white 0% 0% no-repeat padding-box;
opacity: 1;
}


   .esm {
    position: absolute;
    left: 400px;
    top: 600px;
   }

   .inom {
    position: absolute;
    left: 400px;
    top: 650px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;
}

   .prenom {
    position: absolute;
    left: 400px;
    top: 700px;
   }

   .iprenom {
    position: absolute;
    left: 400px;
    top: 750px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;

}

.adrmail{
    position: absolute;
    left: 400px;
    top: 800px;

}
.iadrmail{

    position: absolute;
    left: 400px;
    top: 850px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;

}

.numtel {
    position: absolute;
    left: 400px;
    top: 900px;

}

.inumtel {
    position: absolute;
    left: 400px;
    top: 950px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;
}


.ville {
    position: absolute;
    left: 400px;
    top: 1000px;

}

.iville {
    position: absolute;
    left: 400px;
    top: 1050px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;
}

.spc {
    position: absolute;
    left: 400px;
    top: 1100px;

}

.ispc {
    position: absolute;
    left: 400px;
    top: 1150px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;
}

.resum {
    position: absolute;
    left: 400px;
    top: 1200px;

}

.iresum {
    position: absolute;
    left: 400px;
    top: 1250px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;

}

.link {
    position: absolute;
    left: 400px;
    top: 1300px;

}

.ilink {
    position: absolute;
    left: 400px;
    top: 1350px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;

}

.iyout {
    position: absolute;
    left: 400px;
    top: 1400px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;

}



.save {
    position: absolute;
    left: 400px;
    top: 1450px;
    width: 136px;
height: 38px;
background: var(--unnamed-color-ff7900) 0% 0% no-repeat padding-box;
background: #FF7900 0% 0% no-repeat padding-box;
opacity: 1;


text-align: center;
font: normal normal bold 16px/18px Arial;
letter-spacing: -0.11px;
color: #000000;
opacity: 1;
}




















.eco {
    width: 342px;
height: 328px;
background: #cccbcb 0% 0% no-repeat padding-box;

position: absolute;
    left: 1200px;
    top: 500px;
}


.imgdiv {
    width: 60px;
height: 60px;
position: absolute;
    left: 20px;
    top: 20px;

}


.nom {
    width: 182px;
    height: 20px;
    left:130px;
    top: 30px;

font: bold 25px/10px Arial;
letter-spacing: -0.4px;
color: #000000;
text-transform: uppercase;
opacity: 1;
}

.meet {
    width: 182px;
    height: 20px;
    left: 130px;
    top: 60px;
    text-align: left;
font: normal 15px/10px Arial;
letter-spacing: -0.4px;
color: #000000;
text-transform: uppercase;
opacity: 1;
}


.ccoo{
    left: 20px;
    top: 100px;
    width: 308px;
height: 37px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;


font: normal normal bold 16px/23px Arial;
letter-spacing: -0.11px;
color: #000000;
opacity: 1;
}


.mot {
    left: 20px;
    top: 120px;
    width: 308px;
height: 37px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;


font: normal normal bold 16px/23px Arial;
letter-spacing: -0.11px;
color: #000000;
opacity: 1;
}

.notff{
    left: 20px;
    top: 140px;
    width: 308px;
height: 37px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;



font: normal normal bold 16px/23px Arial;
letter-spacing: -0.11px;
color: #000000;
opacity: 1;
}











  