<div class="container1">
    <img src="/assets/img/aarbi@2x.png" alt="Med Arbi" class="imgprof">
    <h1>Med Arbi</h1>
    <h3>Développeur web</h3>
    <a>
    <button mat-button class="Message" routerLink="/">changer la photo de profil</button>
    <button mat-button class="modif"  routerLink="/changerpassword">changer mot de passe </button>
    </a>
    <img src="/assets/img/07 Buttons - 10 Social Buttons [inkedin] (On Black).png" alt="linkedin" class="linkedin">
    <img src="/assets/img/07 Buttons - 10 Social Buttons [YouTube] (On Black)@2x.png" alt="youtube" class="youtube">
</div>


<br>
<br>
<br>


<div class="">
    <h1 class="compte">Compte</h1>
       <h2 class="esm">Nom</h2>
       <input type="text" class="inom">
       
       <h2 class="prenom">Prénom</h2>
       <input type="text" class="iprenom">
       
       <h2 class="adrmail">Adresse mail</h2>
       <input type="text" class="iadrmail">
       
       <h2 class="numtel">Numéro de téléphone</h2>
       <input type="text" class="inumtel">
       
       <h2 class="ville">Ville</h2>
       <input type="text" class="iville">

       <h2 class="spc">Spécialité</h2>
       <input type="text" class="ispc">

       <h2 class="resum">Résumé</h2>
       <input type="text" class="iresum">

       <h2 class="link">liens</h2>
       <input type="text" class="ilink">
       <input type="text" class="iyout">

       <button  mat-button class="save" >Sauvegarder</button>

</div>




<div class="eco">
    <img src="/assets/img/aarbi@2x.png" alt="Med Arbi" class="imgdiv">
    <h3 class="nom">MED ARBI</h3>
    <h3 class="meet">Développeur web</h3>
    <button mat-button class="ccoo"  routerLink="/">Compte</button>
    <button mat-button class="mot"  routerLink="/">Mot de passe </button>
    <button mat-button class="notff"  routerLink="/">Notification par E-mail</button>

</div>
 