div{
   
background: #000000 0% 0% no-repeat padding-box;
opacity: 1;

height: 231px;


}
h3 {
    top: 443px;
left: 310px;
width: 698px;
height: 120px;
color: var(--unnamed-color-ff7900);
text-align: left;
font: normal normal bold 50px/60px Arial;
letter-spacing: -1.65px;
color: #FF7900;
opacity: 1;
}

h2 {
    top: 443px;
left: 1170px;
width: 420px;
height: 86px;
text-align: left;
font: normal normal bold 24px/29px Arial;
letter-spacing: -0.79px;
color: #FFFFFF;
opacity: 1;
align : left;
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
    margin-left: 50px;
    width: 121px;
    height: 50px;
}