<ngb-carousel style="width: 100%;">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/ss.png" alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/ss.png" alt="Random second slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/ss.png" alt="Random third slide">
      </div>
    </ng-template>
  
  </ngb-carousel>
   




<ngb-carousel style="width: 100%;">
    <ng-template ngbSlide style="width: 100%;">
      <div >
          
        <table align="center">
          <tr>
            <td ><h3>Déveloper vos opportunités de carrière avec python</h3> </td>
            <td><h2>Join this fun and collaborative live class on March 30th with artist Amber Vittoria.</h2></td>
          </tr>
          <td></td>
          <td><button routerLink="/login">Découvrir</button></td>
        </table>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div >
        <table align="center">
          <tr>
            <td><h3>Transformez votre vie grâce à l'éducation</h3> </td>
            <td><h2>Join this fun and collaborative live class on March 30th with artist Amber Vittoria.</h2></td>
          </tr>
          <td></td>
          <td><button routerLink="/login">Découvrir</button></td>
        </table>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <table align="center">
          <tr>
            <td ><h3>Take pro photos with your iPhone</h3> </td>
            <td><h2>Join this fun and collaborative live class on March 30th with artist Amber Vittoria.</h2></td>
          </tr>
          <td></td>
          <td><button routerLink="/login">Découvrir</button></td>
        </table>
      </div>
    </ng-template>
  
  </ngb-carousel>

