.titreformation {
    position: absolute;
    left: 400px;
    top: 150px;


    width: 753px;
    height: 60px;
    text-align: left;
    font: normal normal bold 60px/60px Arial;
    letter-spacing: -1.98px;
    color: #ffffff;
    opacity: 1;
}

.block1 {
    width: 1920px;
    height: 213px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

a{
    position: absolute;
    left: 400px;
    top: 230px;

    color: #ff7900;
    font: normal normal bold 20px/30px Arial;
  }
  
  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #ff7500;
    background-color: transparent;
    text-decoration: underline;
  }







  .block2 {
    width: 1920px;
height: 602px;
background: #000000 0% 0% no-repeat padding-box;
opacity: 1;
}




.block3  {
    width: 1920px;
height: 1213px;
}

.presentationformation {
    position: absolute;
    left: 350px;
    top: 1100px;
    width: 880px;
height: 174px;
text-align: left;
font: normal normal normal 20px/22px Arial;
letter-spacing: -0.4px;
color: #000000;
opacity: 1;

}


.hr1 {
    position: absolute;
    left: 350px;
    top: 1300px;
    width: 940px;
height: 1px;
color:  #707070;
opacity: 1;
}



.cree {
    position: absolute;
    left: 500px;
    top: 1350px;
    width: 191px;
height: 20px;
text-align: left;
font: normal normal bold 20px/22px Arial;
letter-spacing: -0.4px;
color: #000000;
opacity: 0.5;

}


.nomfor {
    width: 191px;
height: 20px;
position: absolute;
    left: 500px;
    top: 1380px;


    width: 277px;
height: 24px;
text-align: left;
font: normal normal bold 24px/22px Arial;
letter-spacing: -0.48px;
color: #000000;
text-transform: uppercase;
opacity: 1;


.nomfor:link {
    color: black;

  }
  
  
  .nomfor:hover {
    color: #ff7500;

  }
  
  .nomfor:active {
    color: #ff7500;


}
}


.job {

    width: 191px;
height: 20px;
position: absolute;
    left: 500px;
    top: 1410px;

    width: 264px;
height: 16px;
text-align: left;
font: normal normal bold 16px/22px  Arial;
letter-spacing: -0.32px;
color: #000000;
opacity: 1;

}


.abonnes {

    position: absolute;
    left: 500px;
    top: 1440px;
    
    width: 92px;

height: 29px;
color: black;
  background-color: rgb(221, 221, 221);

text-align: center;
font: normal normal bold 14px/16px Arial;
letter-spacing: -0.1px;

opacity: 1;
border: 2px solid #000000;
opacity: 1;

}



.descformateur {

    position: absolute;
    left: 350px;
    top: 1490px;
    

    width: 880px;
height: 108px;
text-align: left;
font: normal normal normal 20px/22px Arial;
letter-spacing: -0.4px;
color: #000000;
opacity: 1;

}


.hr2 {
    position: absolute;
    left: 350px;
    top: 1650px;
    width: 940px;
height: 1px;
color:  #707070;
opacity: 1;
}












.achat {

    position: absolute;
    left: 1350px;
    top: 1100px;
width: 342px;
height: 479px;
background: #000000 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 0.1;
}

.creea {

    position: absolute;
    left: 1440px;
    top: 1140px;

    width: 125px;
height: 20px;
text-align: left;
font: normal normal bold 20px/22px Arial;
letter-spacing: -0.4px;
color: #000000;
opacity: 0.5;

}

.noma {

    position: absolute;
    left: 1440px;
    top: 1170px;

    width: 182px;
height: 20px;
text-align: left;
font: normal normal bold 20px/22px Arial;
letter-spacing: -0.4px;
color: #000000;
text-transform: uppercase;
opacity: 1;


}

.lang {

    position: absolute;
    left: 1420px;
    top: 1250px;

    width: 56px;
height: 14px;
text-align: left;
font: normal normal bold 14px/16px Arial;
letter-spacing: -0.1px;
color: #000000;
opacity: 1;

}

.ressources {

    position: absolute;
    left: 1420px;
    top: 1280px;



    width: 201px;
height: 14px;
text-align: left;
font: normal normal bold 14px/16px Arial;
letter-spacing: -0.1px;
color: #000000;
opacity: 1;
}

.paticipant {

    position: absolute;
    left: 1420px;
    top: 1310px;


    width: 106px;
height: 14px;
text-align: left;
font: normal normal bold 14px/16px Arial;
letter-spacing: -0.1px;
color: #000000;
opacity: 1;

}

.niv {

    position: absolute;
    left: 1420px;
    top: 1340px;

    width: 117px;
height: 14px;
text-align: left;
font: normal normal bold 14px/16px Arial;
letter-spacing: -0.1px;
color: #000000;
opacity: 1;

}

.prix {
    position: absolute;
    left: 1365px;
    top: 1440px;

    width: 310px;
    height: 78px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

.solde {
    position: absolute;
    left: 1400px;
    top: 1460px;

    width: 25px;
    height: 17px;
    text-align: left;
    font: normal normal normal 14px/20px Arial;
    letter-spacing: 0.25px;
    color: #ffffff;
    opacity: 1;
}

.prixf {
    position: absolute;
    left: 1400px;
    top: 1480px;

    width: 53px;
height: 22px;
text-align: left;
font: normal normal bold 18px/20px Arial;
letter-spacing: 0.32px;
color: #FFFFFF;
opacity: 1;


}

.buy {

    position: absolute;
    left: 1510px;
    top: 1460px;

    width: 141px;
height: 36px;
background: #F16E00 0% 0% no-repeat padding-box;
opacity: 1;


font: normal normal bold 14px/17px Arial;
letter-spacing: -0.28px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;

}


.imgfor {

    position: absolute;
    left: 375px;
    top: 1350px;

    width: 91px;
    height: 91px;
}

.imgpfor {
    position: absolute;
    left: 1375px;
    top: 1135px;
    width: 60px;
    height: 60px;

}



.video-player-wrapper {

    position: absolute;
    left: 375px;
    top: 300px;

    width: 941px;
height: 500px;
}


.divplayliste {
    position: absolute;
    left: 920px;
    top: 0px;

    width: 300px;
height: 410px;
background: #ff7900 0% 0% no-repeat padding-box;
opacity: 0.9;
}

.player-list2 {
    top: 3px;
    left: 5px;
    
    width: 290px;
height: 40px;
background: var(--unnamed-color-cccccc) 0% 0% no-repeat padding-box;
background: #CCCCCC 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;

margin-top: 10px;



text-align: left;
font: normal normal bold 16px/18px Arial;
letter-spacing: -0.11px;
color: #000000;
opacity: 1;
}

.contenu {
    top: 60px;
    left: 10px;

    width: 200px;
height: 20px;
text-align: left;
font: normal normal bold 20px/22px Arial;
letter-spacing: -0.4px;
color: #FFFFFF;
opacity: 1;
}


.prz {

    position: absolute;
    left: 350px;
    top: 1000px;
    color: var(--unnamed-color-ff7900);
text-align: left;
font: bold 40px/50px Arial;
letter-spacing: -0.14px;
color: #FF7900;
opacity: 1;
}