<div class="block1" style="width: 100%;">

<div>
  <p class="titreformation" > {{detailCours.course_name}}</p>
</div> 

<div>
  <a  style="color: coral;">{{detailCours.course_level}}</a>
</div>
</div>

<div class="block2" style="width: 100%;">



    <div class="video-player-wrapper"> 

        <vg-player (onPlayerReady)="videoPlayerInit($event)">
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
    
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
    
          <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
    
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
    
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
    
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
    
            <vg-fullscreen></vg-fullscreen>
          </vg-controls>
    
          <video #media [vgMedia]="media" [src]="currentVideo.src" id="singleVideo" preload="auto" crossorigin>
          </video>
        </vg-player>
    
         


        <div class="divplayliste">
          <h1 class="contenu">Contenu du cours</h1>
          <button *ngFor="let vdo of videoItems; let $index = index"
          (click)="startPlaylistVdo(vdo, $index)" [class.selected]="vdo === currentVideo" mat-button class="player-list2" >{{ vdo.name }}</button>
        </div>
    
        <!--ul class="player-list">
          <li *ngFor="let vdo of videoItems; let $index = index"
            (click)="startPlaylistVdo(vdo, $index)" [class.selected]="vdo === currentVideo">
            {{ vdo.name }}
          </li>
        </ul-->
    
      </div>
    

</div>

<div class="block3">


<h1 class="prz">Description</h1>

<p class="presentationformation">{{detailCours.course_description}}
    </p>

    <hr class="hr1">
    <p class="cree">Créé par</p>
    <a  href="url" class="nomfor" routerLink="/posts" >MED ARBI</a>
    <p class="job">Développeur full stack</p>
    <button class="abonnes">S'abonner</button>
    <p class="descformateur">Formateur / Développeur à Orange Developer Center.
        </p>

    <hr class="hr2">
    <p class="creea">Créé par</p>
    <a  href="url"  class="noma" routerLink="/posts" >MED ARBI</a>
    <p class="lang">Langue :Anglais</p>
    <p class="paticipant">Ratings : {{detailCours.course_number_ratings}}</p>


<div class="achat">  
</div>


<div class="prix">
    

</div>

</div>

<p class="niv">Niveau : {{detailCours.course_level}}</p>
<p class="solde">Prix</p>
<p class="prixf">Gratuit</p>
<button mat-raised-button class="buy" routerLink="/paiement">acheter</button>
<img  routerLink="/posts" class="imgfor"src="assets/img/aarbi@2x.png">
<img  routerLink="/posts" class="imgpfor"src="assets/img/aarbi@2x.png">

<h1 class="sim">Cours similaires</h1>

<mat-grid-list [gutterSize]="'10px'"  cols="5" style="margin-left: 50mm;margin-inline: 50mm;" >
  <mat-grid-tile *ngFor="let item of cours; index as i ">
      <mat-card  style="margin-top: 10px; margin-inline: 5px;align-items: center;margin-block-end: 20mm;border-color: black;" class="example-card"  >
          <img mat-card-image  style="margin-inline: 10px;width:300px;height:290px;align-items: center;margin-left: 0.5cm;" src="http://127.0.0.1:5006/getImageByName/img/{{ item['el']['images'][item['index']['index'][0]] }}" alt="Photo of a Shiba Inu" >
         <mat-card-content >
            <p style="font-size:13pt;margin-left: 5mm;">  {{ item["el"]["course_name"][item["index"]["index"][0]] }}
            </p>
          </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
