
.not1 {
    top: 258px;
left: 310px;
width: 660px;
height: 103px;
background: #000000 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 0.04;
}

.not2 {
    top: 258px;
left: 310px;
width: 660px;
height: 103px;
background: #000000 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 0.04;
}


h1 {
    text-align: left;
font: normal normal bold 40px/57px Arial;
letter-spacing: -0.24px;
color: #000000;
opacity: 1;
}





