h1{
    top: 700px;
left: 310px;
width: 146px;
height: 48px;
text-align: left;
font: normal normal bold 40px/49px Arial;
letter-spacing: -0.8px;
color: white;
opacity: 1;
display: block;
        margin-left: 400px;
        margin-right: auto
}



.mat-flat-button {

    top: -10px;
    left: 1000px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    opacity: 1;

    display: block;
        margin-left: 400px;
        margin-right: auto;
}



    .noir {
    top: 2140px;
left: 0px;

height: 805px;
background: #000000 0% 0% no-repeat padding-box;
opacity: 1;
}



 
.example-card {

    width: 420px;
  height: 592px;
  margin-right: auto;
  
  }
  
  .example-header-image {
    background-size: cover;
  }
  
  mat-card-image {
      image-rendering: auto;
  }