footer {
    background-color:  black;
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font: normal normal bold 13px Arial;
    
}


input {
    background: #000000 0% 0% no-repeat padding-box;
border: 2px solid #666666;
opacity: 1;
color: white;
width:420px;
height: 40px;
font: normal normal bold 16px/18px Arial;
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
    margin-left: 50px;
    width: 97px;
height: 38px;
font: normal normal bold 16px/18px Arial;

}

 div{
    color: white;
    background-color: black;
    font: normal normal bold 13px Arial;
}

.page-footer {

border: 2px;
border-color: white;
font: normal normal bold 13px Arial;
}

a { color: white;
    font: normal normal bold 13px Arial;}



h3 {
    font: normal normal bold 16px/18px Arial;
}