<!-- Footer -->



<br><br><br><br><br><br><br>
<footer class="page-footer font-small indigo">
  <div class="container text-md-left">
    <br>
    <h3>Sign up to our mailing list</h3>
    <input type="text"> 
    <button class="w3-button w3-black">Sign up</button>
  </div>


  <div class="container text-md-left">
    <br>
    <h3>Suivez nous</h3>
  </div>
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Category</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Category</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Category</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Category</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
            <li>
              <a href="#!">Subcategory</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© orange 2021
      <a href="https://orange.tn/"> orange.tn</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
