.nom {
    position: absolute;
    left: 500px;
    top: 600px;
   }

   .inom {
    position: absolute;
    left: 500px;
    top: 650px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;
}

   .prenom {
    position: absolute;
    left: 500px;
    top: 700px;
   }

   .iprenom {
    position: absolute;
    left: 500px;
    top: 750px;

    width: 640px;
height: 40px;
border: 2px solid var(--unnamed-color-cccccc);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #CCCCCC;
opacity: 1;

}

.adrmail{
    position: absolute;
    left: 500px;
    top: 800px;

}
.iadrmail{

}

.numtel {
    position: absolute;
    left: 500px;
    top: 900px;

}

.inumtel {

}


.ville {
    position: absolute;
    left: 500px;
    top: 1000px;

}

.iville {

}

.spc {
    position: absolute;
    left: 500px;
    top: 1100px;

}

.ispc {

}

.resum {

}

.iresum {

}

.link {

}

.ilink {

}

.iyout {

}