<form>
<h1 class="compte">Compte</h1>
<h2 class="nom">Nom</h2>
<input type="text" class="inom">

<h2 class="prenom">Prénom</h2>
<input type="text" class="iprenom">

<h2 class="adrmail">Adresse mail</h2>
<input type="text" class="iadrmail">

<h2 class="numtel">Numéro de téléphone</h2>
<input type="text" class="inumtel">

<h2 class="ville">Ville</h2>
<input type="text" class="iville">

<h2 class="spc">Spécialité</h2>
<input type="text" class="ispc">

<h2 class="resum">Résumé</h2>
<input type="text" class="iresum">

<h2 class="link">liens</h2>
<input type="text" class="ilink">
<input type="text" class="iyout">

<button class="save" >Sauvegarder</button>
</form>