<div class="block">

<p class="valid">Validation</p>


<p class="methpay">Choisissez une méthode de paiement</p>
<p class="resumcours">Cours JavaScript</p>
<p class="prixresum">Gratuite</p>
<img class="imgcours" src="/assets/img/seo-javascript-the-good-the-bad-the-uncertainty-5e4a09b3cd5db@2x.png">
<div class="blockvalid"></div>
<div class="paytel"></div>
<div class="payedinar"></div>



<p class="txtpytel">Payer avec le solde du téléphone</p>
<p class="textpayedinar">Payer avec la carte e-DINAR SMART</p>
<p class="txtresum">Résumé</p>




<div class="gris"></div>
<div class="total"><p class="txttotal">Total :</p>
    <p class="txtprix">Gratuite</p></div>
<div class="noir"></div>
<div class="orange"><p class="termpay">Terminer le paiement</p></div>


</div>
