<!--div class="apprenant"-->
    


    <!--table align="center" border="0">

        <tr>
            <td ><img src="/assets/img/aarbi@2x.png" alt="Med Arbi"></td>
            <td><h1 class="name">Mohamed Arbi Ghaouar</h1> <br>
                <h3 class="job">Dévlopeur web</h3>
            </td>
        </tr>




    </table-->

    
    
    
    <!--span>
        <a><img src="/assets/img/aarbi@2x.png" alt="Med Arbi"></a>
        <a><h1 class="name">Mohamed Arbi Ghaouar</h1></a>
    <a><h3 class="job">Dévlopeur web</h3></a>

        <a><button classe="message">Message</button></a>
    </span-->

    <!--div class="card">
        <img src="/assets/img/aarbi@2x.png" alt="Med Arbi" style="width:100%" >
        <br>
        <br>
        <h1>Med Arbi</h1>
        <p class="title">Devlopeur web</p>
        <p class="isi">ISI-Ariana</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><button>Message</button></p>
      </div>

</div-->

 
<div class="container1">
    <img src="/assets/img/aarbi@2x.png" alt="Med Arbi" class="imgprof">
    <h1>Med Arbi</h1>
    <h3>Développeur web</h3>
    <a>
    <button mat-button class="Message" routerLink="/chat">Message</button>
    <button mat-button class="modif"  routerLink="/modifier">Modifier profil </button>
    </a>
    <img src="/assets/img/07 Buttons - 10 Social Buttons [inkedin] (On Black).png" alt="linkedin" class="linkedin">
    <img src="/assets/img/07 Buttons - 10 Social Buttons [YouTube] (On Black)@2x.png" alt="youtube" class="youtube">
</div>


<div class="container2"> 

                        <img src="assets/img/play_circle-24px (3).png" alt="" class="cours"><h2 class="cc1">Cours</h2>

                        <img src="assets/img/Product - ic_Alias_numbers.png" alt="" class="cour2"><h2 class="cc2">523</h2>

                        <img src="assets/img/grade-24px.png" alt="" class="cour3"><h2 class="cc3">4.0</h2>
</div>





<div class="container">
    <mat-tab-group>
        <mat-tab label="Mes Cours"><app-cours-apprenant></app-cours-apprenant></mat-tab>
        <mat-tab label="Panier"><app-panier></app-panier> </mat-tab>
        <mat-tab label="Notification"> <app-notif-apprenant></app-notif-apprenant> </mat-tab>
      </mat-tab-group>
    </div>

 