<div class="gris" style="width: 100%;">
<table border="0" align="center">
    <tr>
        <td class="cours">
            <table border="0" align="center" >
                <thead>
                  <tr>
                   
                    <th rowspan="2"><img src="assets/img/play_circle-24px (3)@2x.png" alt="" class="play" routerLink="/formation"></th>
                    <th ><h1>10.000</h1></th>
                  </tr>
                  <tr>
                    <td><h3>Cours En ligne</h3></td>
                  </tr>
                </thead>
                </table>
            </td>
        <td class="cours">
            <table border="0" align="center" >
                <thead>
                  <tr>
                    <th rowspan="2"><img src="assets/img/Product - ic_Alias_numbers@2x.png" alt="" class="play"></th>
                    <th ><h1>+3600</h1></th>
                  </tr>
                  <tr>
                    <td><h3>Apprenant</h3></td>
                  </tr>
                </thead>
                </table>
            </td>


        <td class="cours">
            
            <table border="0" align="center" >
                <thead>
                  <tr>
                    <th rowspan="2"><img src="assets/img/Product @2x.png" alt="" class="play"></th>
                    <th ><h1>+5000</h1></th>
                  </tr>
                  <tr>
                    <td><h3>Expert</h3></td>
                  </tr>
                </thead>
                </table>
            </td>
            
            
            
            
    </tr>
</table>
</div>