h1{
    top: 700px;
left: 310px;
width: 146px;
height: 48px;
text-align: left;
font: normal normal bold 40px/49px Arial;
letter-spacing: -0.8px;
color: #000000;
opacity: 1;
}


.mat-flat-button {

    top: -10px;
    left: 1000px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    opacity: 1;
}


a{
    top: 800px;
left: 310px;
width: 146px;
height: 48px;
text-align: left;
font: normal normal bold 40px/49px Helvetica Neue;
letter-spacing: -0.8px;
color: #000000;
opacity: 1;
}

.mat-grid-tile{
background: #000000 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
color: white;
}

.mat-card {
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: white;
    display: flex;
    flex-direction: column;
    }


    